/* Write your CSS here */
.logout-button {
    color: #303150;
    background-color: ;
    font-family: "Roboto";
    font-size: 14px;
    border-radius: 12px;
    border: none;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}